.skills {
    &__content-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 20px;
        width: 100%;
    }

    &__category {
        padding: 20px;
    }

    &__category-title {
        display: inline-block;
        color: var(--green-theme-sub-text-color);
        font-size: 2rem;
        font-weight: 700;
        line-height: 1rem;
        letter-spacing: 0.5px;
        position: relative;
        padding: 5px 10px;
        margin-bottom: 20px;
        border-bottom: 2px solid var(--green-theme-main-color);

        &::before,
        &::after {
            position: absolute;
            content: "";
            width: 2px;
            height: 5px;
            background-color: var(--green-theme-main-color);
            bottom: -1px;
        }

        &::before {
            left: 0;
        }

        &::after {
            right: 0;
        }
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        padding-top: 15px;
    }

    &__item {
        line-height: 1.65;
        margin-bottom: 15px;
        color: var(--green-theme-sub-text-color);
        font-size: 1.6rem;
        display: flex;
        align-items: flex-start;
        
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__bullet {
        color: var(--green-theme-main-color);
        margin-right: 10px;
        flex-shrink: 0;
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 768px) {
    .skills__content-wrapper {
        grid-template-columns: 1fr;
    }

    .skills__category-title {
        font-size: 1.8rem;
    }

    .skills__item {
        font-size: 1.4rem;
    }
}